@charset "utf-8";

/*  File: 
    91.461 GUI Programming 1, Assignment 2: Creating Your First Web Page
    David Lordan, UMass Lowell Computer Science, david_lordan@student.uml.edu
    Created on September 8, 2014, Updated on September 10, 2014 9:50 PM

    This CSS file serves as the style sheet to the file "DavidLordan_index.html", which is the index
    page to my website for the 91.461 course. The index serves to give personal information as
    well as to provide navigation to all pages/assignments created over the length of the course. 

    

    

    This is a font that was imported from google fonts. It is used for all text in the index page. */
    @import url('http://fonts.googleapis.com/css?family=Open+Sans');

/* Style for entire body of index page. Applies the font imported from google. Creates a light gray 
background, padding is also added to open up some space.  */
body{

	font-family: "Open Sans", sans-serif;
	background-color: #DDDDDD;                     
	padding-top: 10px;
}


/* Style for entire content of index page. For now, it only adds a border around the content along
with some padding for space.   */
body{
	border-style: solid;
	padding: 15px;
	margin: 15px;
	height:100%
}



/* Style for top banner. Creates a black background (likely to change in future versions),
black text, and a border. A bit of shadowing was added to add some depth. A similar style was
used for the navigation banner.  */
#header{
	background-color: black;
	color: white;
	text-align: center;
	border-style: groove;
	border-width: 2px;
	box-shadow: 5px 5px 7px #888888;

}


/* Style section for my personal info. Adds a border and gives a light blue background color.
A similar scheme is used for the navigation section.    */
#personal{
	margin-top: 35px;
	padding-left: 20px;
	background-color: #DDFFFF;
	border-style: solid;
	padding-bottom: 15px;
}


#personal p {
	padding-left: 20px;
	padding-bottom: 0px;
	padding-right: 20px;
}


#assignment_navigation{
	padding-top: 10px;
}

/* Navigation banner. Just as with the top banner, there is white text on a black background with a 
border and shadowing. */
#assignment_navigation h2{
	background-color: black;
	color: white;
	text-align: center;
	line-height: 1.5;
	border-style: groove;
	border-width: 2px;
	box-shadow: 5px 5px 7px #888888;
}


/* Style for placing the cow picture. Solution was found at:
http://stackoverflow.com/questions/10989238/center-align-image-within-div-horizontally
Used the code provided by member mk.hd.    */
img {
	margin-top: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*  Style for future links to other pages/assignments. This will likely be changed significantly. 
For now, (9/10/14), this is stylized in the same manner as the personal section above. (Lines 54-59) */
#nav_content{
	background-color: #DDFFFF;
	border-style: solid;
}
#assignment_navigation h3{
	padding-left: 20px;
}


#assignment_navigation p{
	font-style: italic;
	padding-left: 38px;
	font-size: small;
}

