@charset "utf-8";

/*
    File: FormExercise.css
    91.461 GUI Programming 1, Form Exercise
    David Lordan, UMass Lowell Computer Science, david_lordan@student.uml.edu
    Alternate email: davidlordan@gmail.com
    Created on Oct 22, 2014 6:47 PM, updated on October 22th, 2014 7:03 PM
        
*/

/* The font 'Lato' was imported from google fonts and is used for the entire page. */
@import url('http://fonts.googleapis.com/css?family=Lato');


/* 'Default' settings for the text and backgrond. */
body{
    background-color: #3399ff;
    color: white;
    font-family: 'Lato', sans-serif;
    text-shadow: 1.5px 1.5px black;
    height: 100%
}


/* Styling for the input boxes. */
form{
    margin-right: 20px;
    margin-top: 10px;
    background-color: #242B33;
    float: left;
    display: inline-block;
    width:175px;
    text-align: right;
    border-style: solid;
    border-color: white;
    padding-left:0px;
    padding-right:20px;
    padding-bottom:15px;
    box-shadow: 1px 1px 2px black;
}

/* Font size for the text that is not in the multiplcation table. */
p{
    font-size: 1.2em;
}

/* Styling for the top box with the page's instructions. '*/
.Intro{
    border-style: solid;
    border-color: white;
    padding: 10px 25px;
    background-color: #242B33;
    box-shadow: 1px 1px 2px black;
}

/* Applies rules for both the ENTER and RESET buttoms, contained in a single div. */
.buttons{
    text-align: center;
    margin-bottom: -16px;
}

/* Rules for the individual buttons, aligning them within the box. */
.buttons input{
    font-size: 1.1em;
    width: 185px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color:white;
    font-family: 'Lato', sans-serif;
    border-width: 1px;
}

.buttons input:hover{
    background-color:#bbbbff;
}

p input{
    text-align: center;
}

/* Styling for the foot, forcing it to the bottom of the page. */
footer {
    width:100%;
    height:25px;
    position:fixed;
    bottom:0;
    left:0;
    background:#242B33;
    border-top: solid;
    border-color: white;
    border-width: 1px;
    padding-left: 10px;
    margin-top: 20px;
}

/* Stying for the email address link within the footer. */
a{
    color:white;
    text-decoration: none;
}

#Success{
    margin: 20px;
}