@charset "utf-8";

html{
	font-family: Helvetica, Verdana, sans-serif;
	background: #DDDDDD;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 10px;
}


.main_content{
	padding-right: 35px;
	padding-left: 35px;
	padding-top: 2px;
	padding-bottom: 25px;
	background: white;
}

h1{
	color: black;
	font-size: 1.8em;
	line-height:  1.5;
	background: #55AAAA;
	padding: 30px;
	margin-bottom: -10px;
}



a{
	font-family: Arial;
	letter-spacing: .1em;
	font-size: .7em;
	color: white;
	margin: 0;
	padding: 10px;
	background: #99AA55;
	text-decoration: none;
}

h2{
	color: green;
	margin-right: 150px;
	margin-top: 30px;
	line-height: 1.5em;
	font-family: Times;
	font-style: normal;
	font-size: 1.2em;
}

blockquote{
	font-style: italic;
}