@charset "utf-8";

/*
    File: 
    91.461 GUI Programming 1, Assignment 5: Formatting Text
    David Lordan, UMass Lowell Computer Science, david_lordan@student.uml.edu
    Created on October 5, 2014, Updated on October 6, 2014 10:24 PM

    This is the CSS file used to format the file "StarWarsOpeningCrawl.html", which
    displays the opening text to each of the original Star Wars films. 
*/

/* This font was imported from google fonts and is used for the film opening text. */
@import url('http://fonts.googleapis.com/css?family=News+Cycle');


/*
   Font used for movie titles.
   Source:;
   http://www.dafont.com/star-jedi.font*/
@font-face {
    font-family: StarWarsFont;
    src: url(../Fonts/Starjedi.ttf);
}


/* Applies a 'default' setting for all text in the body. Also adds a star field
   image to the background.
   Source:
   http://fc06.deviantart.net/fs70/f/2010/360/4/f/1024x768_star_field_by_nightmaremetropolis-d35qq56.png */

body{
    font-family: "News Cycle", sans-serif;
    background-color: black;
    color: white;
    background-image: url(../Images/starfield.jpg);


}

#content{

}

#movie0{

float: left; 
width: 390px;
margin: 0px 15px;
text-align: center;
margin-top: -15px;
    
    

}

#movie1{
   
float: left; 
width: 390px;
margin: 0px 15px;
text-align: center;
margin-top: -15px;

}

#movie2{
    
float: left; 
width: 390px;
margin: 0px 15px;
text-align: center;
margin-top: -15px;

}

 /* Simple effects for the pages introductory text.  */

 h1, h3, a{
    font-family: Helvetica, sans-serif;
    
    }

    h4{
        color: #4791FF;
        padding-bottom: -20px;
    }
    
    a{
        color: white;
        text-decoration: none;
    }

    a:visited{
        color: white;
    }
    a:hover{
        color: blue;
        text-decoration: none;
    }

/* Applies effects to the movie titles. Most effects apply to all three titles,
   but some are unique to each as can be seen below. The text shadow adds a mild
   embossing effect, the idea for which was taken from the following site:
   http://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html */
.title {
    
    font-family: StarWarsFont, sans-serif;
    margin-bottom: -15px;
    font-weight: bold;
    font-size: 2.8em;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 5px;
    color: red ;
    border: ridge;
    border-width: 5px;
    border-color: #DDDDDD;
    border-radius: 15px;
    width: 350px;

    text-shadow: -2.5px -2.5px 1.5px yellow;

    
}

    /* Coloring and embossing effects for "The Empire Strikes Back" */
    #movie1 .title{
        padding-left: 20px;
        color: #33AAFF;
        text-shadow: -2.5px -2.5px 1.5px white;
    }

    /* Coloring and embossing effects for "Return of the Jedi" */
    #movie2 .title{
        padding-left: 20px;
        color: #00FF00;
        text-shadow: -2.5px -2.5px 1.5px #CC5555;
        
    }

    /* Simple placement and underline effects for author and their title. */
    .author, .authorsTitle{
        margin-top: 10px;
        margin-left: 20px;
        text-decoration: underline;
    }

    /* Fine-tuning of the 'author' placement. */
    .author {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    /* Fine-tuning of the 'authorTitle' placment and size. A negative margin is used
       to pull the 'date' div closer. */
    .authorsTitle{
        font-size: 1em;
        margin-bottom: -20px;

    }

    /* Effects to place the 'date' div and change its color. Having the author, author
     title, and date placed tightly together in white text allows them to stand out
     slightly within a text-dense page. */
    .date {
        font-family: "News Cycle", sans-serif;
        color: white ;
        margin-bottom: -20px;
        margin-left: 20px;
        margin-top: 20px;
    }

    /* Adds a border and some spacing to the main text container. */
    .text{
        border: solid;
        border-radius: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
        border-color: #DDDDDD;
    }

    /* Coloring and sizing for the main text. By default a large padding was being 
     added to the text, but I couldn't track down where it was from, so it is 
     reset here. */
    p {
        font-size: 1.5em;
        line-height: 1.3em;
        color: yellow;
        margin:  10px;
        padding: 0;
    }

    /* Adds some space between the final line of text for each film and the title
       of the next film.  */
    p:nth-of-type(3n){
        margin-bottom: 4.5em;
        margin:10px;
        padding: 0;
    }

    /* Placement and sizing of the Death Star image. */
    #deathstarImage img{
        width:155px; 
        height: auto;
        position: absolute;
    top: 30px;
    right: 5px;
    }