@charset "utf-8";

/*
    File: TableStyle.css
    91.461 GUI Programming 1, Assignment 6: Creating an Interactive Dynamic Table
    David Lordan, UMass Lowell Computer Science, david_lordan@student.uml.edu
    Alternate email: davidlordan@gmail.com
    Created on Oct 16, 2014 11:27 AM, updated on October 19th, 2014 10:71 PM


    This file applies CSS rules to the site, segmenting the page into three sections,
    a box for the page's explanation, a box for the form, and the multiplication table itself.
    
*/

/* The font 'Lato' was imported from google fonts and is used for the entire page. */
@import url('http://fonts.googleapis.com/css?family=Lato');


/* 'Default' settings for the text and backgrond. */
body{
    background-color: #3399ff;
    color: white;
    font-family: 'Lato', sans-serif;
    text-shadow: 1.5px 1.5px black;
    height: 100%
}

/* Styling for the multiplication table.*/
table{
    margin: 10px;
    margin-bottom: 45px;
    margin-right: 25px;
    font-size: 1.5em;
    padding: 3px;
    text-align: center;
    text-shadow: 0em 0em #333;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 20px;
    border-spacing: 1px;
    background-color: #242B33;
    box-shadow: 2px 2px 2px black;
}

/* Styling for the table items. Forces the shape of each cell into an oval. */
td{
    width: 90px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    border-width: 1px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

/* Special rules for the top row, displaying the multipliers. */
#multiplier td{
    border-color: white;
    border-width: 2px;
    background-color: black;
    color: white;
}

/* Rules to force the top left corner of the table to blend into the background of the page. */
#multiplier td#corner{
    border-color: #242B33;
    background-color: #242B33;
    box-shadow: 0px 0px 0px #242b33;
}

/* Applies the same rules of the top row to the far left column, the multiplicands. */
.multiplicand{
    border-color: white;
    border-width: 2px;
    background-color: black;
    color: white;
}

/* Changes the text color to the products, the main content of the table. */
.products{
    color: black;
}

/* To make the table easier to read, a zebra-striping is applied to the rows. */
tr:nth-child(2n) td:not(.multiplicand){
    background-color: #ff9966;
}

/* Contrasting color for every other row. */
tr:nth-child(2n+1) td:not(.multiplicand){
    background-color: #99ffff;
}

/* Styling for the input boxes. */
form{
    margin-right: 20px;
    margin-top: 10px;
    background-color: #242B33;
    float: left;
    display: inline-block;
    width:175px;
    text-align: right;
    border-style: solid;
    border-color: white;
    padding-left:0px;
    padding-right:20px;
    padding-bottom:15px;
    box-shadow: 1px 1px 2px black;
}

/* Font size for the text that is not in the multiplcation table. */
p{
    font-size: 1.2em;
}

/* Styling for the top box with the page's instructions. '*/
.Intro{
    border-style: solid;
    border-color: white;
    padding: 10px 25px;
    background-color: #242B33;
    box-shadow: 1px 1px 2px black;
}

/* Applies rules for both the ENTER and RESET buttoms, contained in a single div. */
.buttons{
    text-align: center;
    margin-bottom: -16px;
}

/* Rules for the individual buttons, aligning them within the box. */
.buttons input{
    font-size: 1.1em;
    width: 185px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color:white;
    font-family: 'Lato', sans-serif;
    border-width: 1px;
}

p input{
    text-align: center;
}

/* Styling for the foot, forcing it to the bottom of the page. */
footer {
    width:100%;
    height:25px;
    position:fixed;
    bottom:0;
    left:0;
    background:#242B33;
    border-top: solid;
    border-color: white;
    border-width: 1px;
    padding-left: 10px;
    margin-top: 20px;
}

/* Stying for the email address link within the footer. */
a{
    color:white;
    text-decoration: none;
}

